h3{
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
h2{
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}
p{
  color: #8f8f8f;
}

/* navbar */
.navbar{
  padding: 1.5rem 12rem 2.5rem;
}
.navbar-brand{
  font-weight: bold;
  font-size: 2rem;
}
.nav-item{
  padding: 0 16px;
}
.nav-link{
  font-size: 1.2rem;
}
.nav-position{
  position: relative;
  left: 30%;
  margin: 0px auto;
  /* float: right; */
  /* border: 2px solid; */
}

#title{
  background-color: #ff4c68;
  color: white;

}
#title h1{
  font-size: 3.5rem;
  line-height: 1.5;
}

.container{
  padding:  2rem 7rem 0;
}
.download-btn{
  margin: 5px 10px 10px;
}
.image-pos{
  text-align: center;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  margin: 2rem auto 0;
}

/* features section */
#features{
  padding:7% 15%;
  background-color: #fff;
  position: relative;

}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
/* testimonial */
#testimonials{

  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.carousel-item{
  padding: 7% 15%;
}
.testimonial-image{
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.car-btn{
  background-color: inherit;
  border: none;
}

.car-icon{
  font-size: 2rem;
}

/* cards */



#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
  padding: 100px;
  text-align: center;
  background-color: white !important;
}

.pricing-column{
  padding: 3% 2%;
}




#cta{
  /*background-color: #ff4c68;*/
  /*color: #fff;*/
  padding: 7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: sans-serif;
  font-size: 3rem;
}

#footer{
  text-align: center;
  padding: 7% 15%;
}

.social-icon{
  margin: 20px 10px;
}
@media (max-width: 992px){
  .title-image{
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
